*{
    margin: 0;
    padding: 0;
}

/* banner */

.banner{
    height: 100vh;
    width: 100%;
    background-image: url(./images/banner/banner2.png);
    background-position: center;
    background-size: cover;
}
.container{
    width: 1170px;
    margin: auto;
}
.detels{
    width: 420px;
    float: right;
    margin-top: 150px;
}
.detels h1{
    font-size: 64px;
    text-align: right;
}
.detels p{
    text-align: right;
    margin-top: 24px;
    font-size: 16px;
}
.detels button{
    border: none;
    background-color: #F15B22;
    padding: 10px;
    border-radius: 5px;
    margin-top: 33px;
    float: right;
}

/* My failures */

.info-container{
    display: flex;
}
.About{
    width: 570px;
}
.img{
    width: 570px;
}
.img img{
    width: 570px;
    height: 723;
}
.service{
    display: flex;
    margin-top: 15px;

}
.About{
    margin-top: 150px;
    margin-left: 80px;
}
.About-titel{
    font-size: 40px;
}
.About p{
    margin-top: 24px;
}

/* My Plans */

.Plans-titel{
    text-align: center;
    font-size: 40px;
    margin-top: 100px;
    margin-bottom: 50px;
}
.card img{
    height: 93px;
    width: 93px;
}
.card-container{
    display: flex;
    justify-content: space-around;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card h3{
    font-weight: bold;
    font-size: 20px;
}

/* adds */

.adds-container{
    background-image: url(./images/watch.png);
    height: 300px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 100px;
}
.adds-info{
    background-image: url(./images/gradient2.png);
    height: 300px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.info-item{
    width: 459px;
    padding-left: 64px;
    padding-top: 59px;
}

.info-item h1{
    font-size: 40px;
    font-weight: bold;
    color: white;
}
.info-item button{
    border: none;
    background-color: white;
    
    padding-left: 36px;
    padding-right: 36px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
    font-size: 20px;
    color: #F15B22;
    font-weight: bold;
    margin-top: 24px;
}